<div class="col-md-4 mx-auto">

    <div class="card">
        <div class="card-body">
            <form action="/links/edit/{{link.idAlumno}}" method="POST">
                <div class="form-group">
                    <input type="text" name="nombre" maxlength="30" placeholder="Nombre" class="form-control" value="{{link.nombre}}" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="apellido" maxlength="30" placeholder="apellido" class="form-control" value="{{link.apellido}}" >
                </div>
                <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect02">Carrera</label>
                        </div>
                        <select class="custom-select" name="carrera" id="carreras" >
                            <option selected value="{{nameCarrera.idCarrera}}">{{nameCarrera.nombre}}</option>
                            {{#each filtroCarreras}}
                                <option  value="{{idCarrera}}">{{nombre}}</option>
                            {{/each}}                            
                        </select>
                </div>  
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

